<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1091313771929-gabga2lqmqfelj7k6e234au0fg9sll4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1091313771929-gabga2lqmqfelj7k6e234au0fg9sll4i</string>
	<key>API_KEY</key>
	<string>AIzaSyAoCeyvqzseAdki5B5p6P_3KWQixDLHtBk</string>
	<key>GCM_SENDER_ID</key>
	<string>1091313771929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taurist</string>
	<key>PROJECT_ID</key>
	<string>tauristapp-74b3f</string>
	<key>STORAGE_BUCKET</key>
	<string>tauristapp-74b3f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091313771929:ios:f3ac3368e26628d0a19f08</string>
</dict>
</plist>